
services:
    container:
        env: .env
        build:
            args:
                BASE_TAG: "${BASE_TAG:?}"
                DOCKER_LOG_DIR: "${DOCKER_LOG_DIR:?}"
                DOCKER_REGISTRY: "${DOCKER_REGISTRY:?}"
                FROM_BASE: "${FROM_BASE:?}"
                HOST_IPS: "${HOST_IPS:?}"
                OS_VERSION: "${OS_VERSION:?}"
                PIP_VERSION: '"${PIP_VERSION:?}"
                PYTHON_VERSION: "${PYTHON_VERSION:?}"
                USER_ID: '1000'
                WORK_DIR: "${WORK_DIR:?}"
            context: .
            dockerfile: Dockerfile
            labels:
                container.build.host: "${CONTAINER_BUILD_HOST:?}"
                container.build.time: "${CONTAINER_BUILD_TIME:?}"
                container.fingerprint: "${CONTAINER_FINGERPRINT:?}"
                container.git.commit: "${CONTAINER_GIT_COMMIT:?}"
                container.git.refs: "${CONTAINER_GIT_REFS:?}"
                container.git.url: "${CONTAINER_GIT_URL:?}"
                container.name: "${CONTAINER_NAME:?}"
                container.origin: "${CONTAINER_TAG:?}"
                container.os: "${CONTAINER_OS:?}"
                container.parent: "${CONTAINER_PARENT:?}"
                container.tag: "${CONTAINER_TAG:?}"
        image: "${TARGET:?}"
